<header>
    <% if(locals.user){ %>
        <ul>
     <li><a href="/signout">signout</a></li>  
     <li><a href="/profilepage"><%= user.name %></a></li>   
    </ul>
    
    <% }else{ %>
        <ul>
            <li><a href="/loginpage">sign in</a></li>   
           </ul> 
           <% } %>
</header>