<html>
    <head>

    </head>
    <body>
        <form action="/users/createuser" method="post" >
            <h1> New user, Create Account Now!</h1>
            <div id="maindiv">
                <div id="first">
                    <label for="name">Enter name</label>
                    <input id="name" name="name">
                    </div>
                <div id="second">
<label for="username">Create Username</label>
<input id="username" name="username">
</div>
<div id="third">
    <label for="password">Create Password</label>
    <input id="password" name="password">
    </div>
    <button type="submit" >Signup</button>
</div>

</form>
    </body>
</html>