<html>
    <head>

    </head>
    <body><h1>LOGIN </h1>
        <form action="/users/login" method="post">
            <div id="maindiv">
                <div id="first">
<label for="username">Enter Username</label>
<input id="username" name="username">
</div>
<div id="second">
    <label for="password">Enter Password</label>
    <input id="password" name="password">
    </div>
    <button type="submit" >Signin</button>
    <div>New User<a href="/signup" >Signup</a></div>
</div>

</form>

    </body>
</html>